{% extends 'header.html' %}

{% load static %}
{% load i18n %}

{% block 'content'%}
<div class="d-flex justify-content-center align-item-center flex-column vh-100">
    <div class="d-flex justify-content-center align-item-center z-0 ">
        <img src="{% static 'img/dr_o.webp' %}" alt="dr_o" class="img-fluid">
    </div>


    <div class="z-1 rounded-4 border mx-auto">
        <p class="p-4 mb-0">
            포켓몬스터 세계에 잘왔단다 !
            <br>
            우선 자네의 이름을 알려주게나 !
        </p>
    </div>

</div>
{% endblock%}
