{% extends 'header.html' %}


{% load static %}
{% load i18n %}


{% block 'content'%}
    <div class="videoContainer">
        <video id="video" width="auto" height="100%" src="https://packaged-media.redd.it/qraadmnv2je41/pb/m2-res_720p.mp4?m=DASHPlaylist.mpd&v=1&e=1692889200&s=a2d238ef4cb99468c27d2b2eabc1448de9ba0f75#t=0" alt="" autoplay loop muted></video>
    </div>
            
    <div class="content h-100">
        <h1>{% translate '포켓몬스터 띠부실 다이어리' %}</h1>
        <div class="buttons">
        <span id="one" class="btn bg-black bg-opacity-50 text-white fw-bold">{% translate '로그인'%}</span>
        </div>
    </div>
    
        
        <div id="modal-container">
            <div class="modal-background">
                <div class="modal d-inline-flex flex-column">
                    <div class="header d-inline">
                        <button id="close" class="btn btn-close mb-4"></button>
                        <h2>{% translate '환영합니다!' %}</h2>
                        <h5>{% translate '자신의 다이어리를 만들고 싶다면 로그인 해주세요!' %}</h5>
                    </div>


                    <div class="m-auto">
                        <div class="wrapper">
                            <div class="card-switch">
                                <label class="switch">
                                    <input class="toggle" type="checkbox">
                                    <span class="slider" role="button"></span>
                                    <span class="card-side" role="button"></span>

                                    <div class="flip-card__inner">
                                        <div class="flip-card__front">
                                            <div class="title">Log in</div>
                                            <form action="{% url 'login' %}" class="flip-card__form" method="POST">
                                                {% csrf_token %}
                                                <input type="email" placeholder="Email" name="email" class="flip-card__input">
                                                <input type="password" placeholder="Password" name="password" class="flip-card__input">
                                                <button type="submit" class="flip-card__btn">Go! Pokemon!</button>
                                            </form>
                                        </div>
                                        <div class="flip-card__back">
                                            <div class="title">Sign up</div>
                                            <form action="{% url 'signup' %}" class="flip-card__form" method="POST">
                                                {% csrf_token %}

                                                <input type="name" placeholder="Name" name="name" class="flip-card__input">
                                                <input type="email" placeholder="Email" name="email" class="flip-card__input">
                                                <input type="password" placeholder="Password" name="password" class="flip-card__input">
                                                <input type="password" placeholder="Password" name="password_check" class="flip-card__input">
                                                <button type="submit" class="flip-card__btn">Getcha!</button>
                                            </form>
                                        </div>
                                    </div>
                                </label>
                            </div>   
                        </div>
                    </div>
                </div>
            </div>
        </div>



        {% if messages %}   

        <script>
            $(document).ready(function(){
                $('.toast').toast('show');
            });
        </script>

            <div aria-live="polite" aria-atomic="true" class="bg-body-secondary position-relative bd-example-toasts rounded-3">
                <div class="toast-container p-3 bottom-0 end-0" id="toastPlacement" data-original-class="toast-container p-3">
                {% for message in messages %}
                    <div class="toast fade show">
                        <div class="toast-header">
                            <img src="{% static 'img/dr_O.png' %}" alt="dr_O" width="30" height="30" class="me-2 img-thumbnail">
                            <strong class="me-auto">{% translate '오박사' %}</strong>
                            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
                        </div>
                        <div class="toast-body">
                            {{message}}
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        {% endif%}
{% endblock %}