{% extends 'header.html' %}

{% load static %}
{% load i18n %}

{% block 'content'%}
    <div class="container">
        <header class="border-bottom lh-1 py-3">
            <div class="row flex-nowrap justify-content-between align-items-center">
                <div class="col-4 pt-1">
                    <a class="link-secondary" href="#">1</a>
                </div>
                <div class="col-4 text-center">
                    <a class="text-decoration-none" href="#" style="font-family: 'pokemons', serif;">Pokemon Dairy</a>
                </div>
                <div class="col-4 d-flex justify-content-end align-items-center">
                    <a class="link-secondary" href="#" aria-label="بحث">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>بحث</title><circle cx="10.5" cy="10.5" r="7.5"></circle><path d="M21 21l-5.2-5.2"></path></svg>
                    </a>
                    <a class="btn btn-sm btn-outline-secondary" href="#">1</a>
                </div>
            </div>
        </header>

        <div class="nav-scroller py-1 mb-3 border-bottom">
            <nav class="nav nav-underline justify-content-between">
                <a class="nav-item nav-link link-body-emphasis active" href="#">العالم</a>
                <a class="nav-item nav-link link-body-emphasis" href="#">الولايات المتحدة</a>
                <a class="nav-item nav-link link-body-emphasis" href="#">التقنية</a>
                <a class="nav-item nav-link link-body-emphasis" href="#">التصميم</a>
                <a class="nav-item nav-link link-body-emphasis" href="#">الحضارة</a>
                <a class="nav-item nav-link link-body-emphasis" href="#">المال والأعمال</a>
                <a class="nav-item nav-link link-body-emphasis" href="#">السياسة</a>
                <a class="nav-item nav-link link-body-emphasis" href="#">الرأي العام</a>
                <a class="nav-item nav-link link-body-emphasis" href="#">العلوم</a>
                <a class="nav-item nav-link link-body-emphasis" href="#">الصحة</a>
                <a class="nav-item nav-link link-body-emphasis" href="#">الموضة</a>
                <a class="nav-item nav-link link-body-emphasis" href="#">마이페이지</a>
            </nav>
        </div>
    </div>
{% endblock %}
